.wrapper {
  display: flex;
  width: 100%;
  max-width: 700px;
  justify-content: center;
  align-items: center;
  margin: auto;
}

.accord {
  width: 100%;
}

.item {
  background-color: #212121;
  margin-bottom: 5px;
}

.title {
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  padding: 5px 40px;
}
.title span {
  font-size: 25px;
}

.title h3 {
  font-weight: normal;
  color: #fff;
  font-size: 22px;
}

.answer {
  background: #00306d;
  font-size: 17px;
  font-weight: 300;
  line-height: 28px;
  color: #fff;
  padding: 0px 40px;
  overflow: hidden;
  height: 100%;
  max-height: 0;
  transition: max-height 0.2s ease-out, padding 0.2s ease-out;
}

.answer.open {
  max-height: 200px; /* Adjust based on your content */
  padding: 20px 40px;
}
/* Toggle Button */
.toggleBtnContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin-bottom: 0.8rem;
  margin-right: 3rem;
}
.toggleBtnContainer > span {
  display: block;
  margin-right: 1rem;
}
.btn-enable {
  cursor: pointer;
  width: 100%;
  border: none;
  background-color: #e58400;
  font-size: 22px;
  padding: 10px 40px;
  color: #fff;
  margin-bottom: 10px;
}
.btn-enable:hover {
  background-color: #bd6e01;
  transition: 0.1s;
}
